:root {
    --bg: #fafafa;
}

html, body, canvas {
    margin: 0px;
    padding: 0px;
}
html, body {
    background: var(--bg);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

*, body, canvas {
    outline: 0;
}

.center {
    display: flex;
    align-items: center;
}

.spacer {
    flex: 1;
}